{% extends 'base.html' %}
{% load i18n staticfiles bootstrap %}
{% block head_title %}{% if object %}{% trans "Update a Document" %}{% else %}{% trans "Create a new Document" %}{% endif %}{% endblock %}

{% block body %}
<div id="editor">
    <editor :document-id="'{{document.id}}'"
            :document-name="'{{ document.name|escapejs }}'"
            :part-id="'{{part.id}}'"
            :default-text-direction="'{{ document.default_text_direction }}'"
            :main-text-direction="'{{ document.main_script.text_direction }}'"
            :read-direction="'{{ document.read_direction }}'">
    <a href="{% if object %}{% url 'document-update' pk=document.pk %}{% endif %}" class="nav-item nav-link {% block nav-doc-active %}{% endblock %}" id="nav-doc-tab" role="tab" aria-controls="nav-doc" aria-selected="true">{% trans "Description" %}</a>
    <a href="{% if object %}{% url 'document-images' pk=document.pk %}{% else %}#{% endif %}" class="nav-item nav-link {% if not object %}disabled{% endif %} {% block nav-images-active %}{% endblock %}" id="nav-img-tab" role="tab" aria-controls="nav-img" aria-selected="true">{% trans "Images" %}</a>
    <a href="{% if document  %}{% url 'document-part-edit' pk=document.pk %}{% else %}#{% endif %}" class="nav-item nav-link active {% if not object or not document.parts.count %}disabled{% endif %}" id="nav-edit-tab" role="tab" aria-controls="nav-doc" aria-selected="true">{% trans "Edit" %}</a>
    {% if perms.core.can_train %}
    {% with models_count=document.ocr_models.count %}
    <a href="{% if document and models_count %}{% url 'document-models' document_pk=document.pk %}{% else %}#{% endif %}" class="nav-item nav-link {% if not document or not models_count %}disabled{% endif %}" id="nav-models-tab" role="tab" aria-controls="nav-doc" aria-selected="true">{% trans "Models" %}</a>
    {% endwith %}
    {% endif %}
  </editor>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    {% if user.onboarding %}
    const ONBOARDING_PAGE  = "onboarding_edit";
    {% endif %}
  </script>

  {{ block.super }}

  <script type="text/javascript">
    $(document).ready(function() {
       // join the ws room
       joinDocumentRoom('{{document.pk}}');
       bootHelp();
    });
  </script>

  <script src="{% static 'editor.js' %}" type="text/javascript"></script>
{% endblock %}
