{% extends 'core/project_nav.html' %}
{% load i18n staticfiles thumbnail bootstrap %}
{% block head_title %}{% trans "My Documents" %}{% endblock %}

{% block nav-docs-active %}active{% endblock %}

{% block extra_nav %}
<a href="{% url 'document-create' slug=project.slug %}" class="btn btn-success ml-auto mb-2">{% trans 'Create new Document' %}</a>

{% if share_form %}
<button type="button" class="btn btn-primary mb-2 ml-1" data-toggle="modal" data-target="#shareModal" title="{% trans "Share this Project" %}"><i class="fas fa-share"></i></button>
{% endif %}
{% endblock %}

{% block tab_content %}
<div class="row">
    <div class="col-md-12 col-md-offset-4">
    <table id="document-list" class="table table-hover">
      <tbody>
        {% for document in object_list %}
        <tr onclick="document.location='{% url 'document-images' pk=document.pk %}'" role="button">
          <td>
            {% with part=document.parts.first %}
            {% if part %}
            <img src="{{ part.image|thumbnail_url:'list' }}" />
            {% endif %}
            {% endwith %}
          </td>
          <th>
            {{ document.name }}
            {% if document.typology %}<br><span class="text-muted"><small>{{ document.typology|default_if_none:'-' }}</small></span>{% endif %}
          </th>
          <td>
            <span title="{% trans 'Owner' %}">{{document.owner}}</span>
            {% with groups=document.shared_with_groups.all %}
            {% if groups %}</br><span title="{% trans 'Shared with' %}" class="text-muted"><small>{{ groups|join:', ' }}</small></span>{% endif %}
            {% endwith %}</td>
          <td title="{% trans 'Last modified on' %}"><span class="text-muted"><small>{{ document.parts_updated_at|date }}</small></span></td>
          <td>
            {% blocktrans with count=document.parts.count %}{{ count }} image(s).{% endblocktrans %}
          </td>
          {% comment %}
          <td {% if document.workflow_state %}title="{% trans 'Published' %}"{% else %}title="{% trans 'Unpublished' %}"{% endif %}>
            <big>
              {% if document.workflow_state %}<span class="text-success">✓</span>{% else %}<span class="text-danger">✗</span>{% endif %}
            </big>
          </td>
          {% endcomment %}
          <td class="text-right">
            {# <a href="{% url 'document-detail' pk=document.pk %}" class="btn btn-info disabled" title="{% trans 'View' %}"><i class="fas fa-eye"></i></a> #}
            {# Note that doing one query per row is a lot faster than a subquery for some reason #}
            {% if document.last_edited_part %}
            <a href="{% url 'document-part-edit' pk=document.pk part_pk=document.last_edited_part.pk %}"
               class="btn btn-info"
               title="{% trans 'Edit last updated Element' %}">
              <i class="fas fa-edit"></i>
            </a>
            {% endif %}

            <form method="post" class="inline-form" action="{% url 'document-publish' pk=document.pk %}" onsubmit="return confirm('{% trans "Do you really want to delete the document?" %}');">{% csrf_token %}
              <input type="hidden" name="workflow_state" value="{{ document.WORKFLOW_STATE_ARCHIVED }}">
              <button type="submit" value="" onclick='event.stopPropagation();'  class="nav-item btn btn-danger" title="{% trans 'Delete' %}"><i class="fas fa-trash"></i></button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
</div>
{% include 'includes/pagination.html' %}
{% endblock %}

{% block modals %}
{% if share_form %}
<!-- shareModal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="{% url 'project-share' pk=project.pk %}">
                {% csrf_token %}

                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">{% trans "Share with" %}</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>{% trans "Teams" %}</h5>
                    {% render_field share_form.shared_with_groups %}
                    <h5>{% trans "Users" %}</h5>
                    {% render_field share_form.username %}
                    {% render_field share_form.shared_with_users %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="{% trans 'Share' %}" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
